<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEED PAGE</title>
    <link rel="stylesheet" href="/css/feed.css">

</head>
<body>
    <section>
        <div id="feed_head"><a href="/website"><img src="account_img.png"></a>My Feed</div>
        <div class="feed_post">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        </div>
    </section>
</body>
</html>