<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <section class="loginpage">
        <div id="logo">
            <img src="twitterlogo.png" alt="logo">
        </div>
        <div id="loggin">
            <h1>Make it happen</h1>
            <span id="heading">Join now.</span>
            <div>
                <input type="text" placeholder="login-id" !required>
                <div class="log_error">Incorrect login-id!!!</div>
                <input type="password" placeholder="password" !required>
                <div class="log_error">Incorrect password!!!</div>
                <button id="loginbtn"><a class="index" href="/website">Login</a></button>
                
            <hr>
                <button id="create"><a class="index" href="/createaccount">create account</a></button>
            </div>
        </div>
    </section>
</body>
</html>