<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating post</title>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
    <section id="post_create">
    <div id="post_title">
        Look for the magic in every moment...
        </div>
        <div id="posting">
            <div class="posting_header">
            <a href="/website"><img src="account_img.png" alt="user" class="posting_img"></a>
            <div>@khush godani</div>
            </div>
            <div class="posting_content">
            <img src="add_img.png" alt="add_img">
            </div>
            <div class="posting_comment">
           <input type="text" placeholder="Enter post description">
            </div>
            <div class="posting_btn">
                <button><a href="/website" class="post_atag">Post</a></button>
            </div>
        </div>
    </section>    
</body>
</html>