<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <section class="profile">
        <div class="prof">
            <a href="/website"><img src="back.png" alt="profile_exit" id="profile_exit"></a>
        </div>
      <div class="profile_header">
        <a href="/website"><img src="account_img.png"></a>
      </div>
      <div class="follow">
        <div class="mains">
         <div class="mains_num">7</div>
         <div class="mains_post">posts</div>
        </div>

        <div class="mains">
            <div class="mains_num">29</div>
            <div class="mains_post">Followers</div>
           </div>
    
      <div class="mains">
       <div class="mains_num">5</div>
       <div class="mains_post">Following</div>
       </div>
    </div>
      <div class="profile_info">
        @khush godani(username)
      </div>
      <div class="profile_info">
        15-12-2004(DOB)
      </div>
      <div class="profile_info">
        <input type="text" placeholder="Bio" id="bio">
      </div>
    </section>
</body>
</html>